<%- include('./partials/header') %>

<section id="forms">
  <h1 class="text-white">There are many wonderful places to visit in Romania, but this is not one of it. &#128515;</h1>
  <h2><%= message %></h2>
  <h3><%= error.status %></h3>
  <pre><%= error.stack %></pre>
</section>

<%- include('./partials/footer') %>
